.bob{color:red;}
#ted{font-size:60px;}
#history{background:url("http://i.dailymail.co.uk/i/pix/2014/08/05/1407225932091_wps_6_SANTA_MONICA_CA_AUGUST_04.jpg");}
p {
    border-style: solid;
    border-color:black;
}
.h{font-weight:800;}
.div{
    background-color: green;
    opacity: 0.5;
    filter: Alpha(opacity=100);
}
#borderimg {
    border: 15px solid transparent;
    padding: 20px;
    -webkit-border-image: url(border.png) 30 round; 
    -o-border-image: url(border.png) 30 round;
    border-image: url(border.png) 30 round;
}
.h1 {
    text-shadow: 2px 2px #FF0000;
}
#q {
    border: 3px solid red;
    outline-style: dotted;
    outline-color: #00ff00;
}
.poblique {
    font-style: oblique;
}